* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f6fa;
}


.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app {
  padding: 20px;
}

.app__left {
  flex: 0.70;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.graph {
  margin-top: 3rem;
}

@media (min-width: 990px) {

  .app {
    display: flex;
    justify-content: space-evenly;
  }
}
